 
 
   .navbar {
  width: 100%;
  margin-bottom: 0; 
}
.centered-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;  
}

 
.counter {
  font-size: 24px;  
  margin-bottom: 10px;  
}
/* App.css */

 .App {
  text-align: center; 
  background-color: black; 
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center; 
  min-height: 100vh;
  margin: 0; 
  font-family: Arial, sans-serif; 
}

.app-header {
  padding: 20px; 
}
.character-list {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  gap: 20px;
}

.character-card {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 20px; 
  text-align:justify;
}

.character-card img {
  max-width: 100%;
  height: auto; 
  margin: 4px; 
}